<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- <script src="../client/main.js" type="text/javascript" defer></script> -->
    <title>Bicycle Rental</title>
</head>

<body>
    <nav id="navbar">
        <h1>Bike Rental</h1>
    </nav>
    <section class="main">
        <div>
            <%if (!cart.length){%>
            <h3>Cart is empty</h3>
            <%} else {%>
            <ul id="list">3939</ul>
            <%}%>
        </div>
    </section>
    <section class="main">
        <div class="products">
            <% for (let i = 0; i < products.length; i++){%>
            <div class="product">
                <img alt=<%=products[i].name%> src=<%=products[i].image%> />
                <h2><%=products[i].name%></h2>
                <h3>Price: <%=products[i].price%></h3>
                <button class="btn" onclick=<%='addToCart(event)'%> name=<%=products[i].id%>>
                    Select
                </button>
            </div>
            <%}%>
        </div> 
    </section>
    <script> 
        const ul = document.getElementById('list');
        const addToCart = (event) => {
            console.dir(event.target);
            event.preventDefault();
            const product = products.filter(el => el.id === event.target.id)[0];
            fetch(`http://localhost:8080/${event.target.name}`), {
                method: "POST",
                headers: {
                    Accept: "application/json",
                    "Content-type": "application/json"
                },
                body: JSON.stringify({ product })
                    .then(res => res.json())
                    .then(json => {
                        const li = document.createElement('li');
                        li.innerText = json.name
                        ul.appendChild(li);
                    })
            }
        };   
    </script>

</body>

</html>